streamlit==1.32.2
pandas
matplotlib
fastapi
uvicorn
python-multipart
bcrypt
passlib
python-jose
pypdf
python-dotenv
streamlit-extras

langchain==0.1.13
langchain-core>=0.1.53
langchain-community==0.0.36

transformers==4.37.2
sentence-transformers
sentencepiece
huggingface-hub
accelerate
faiss-cpu
openai

pydantic==1.10.13
