fastapi==0.95.1
uvicorn==0.22.0
python-dotenv==1.0.1

# OpenAI関連
openai==0.28.1
langchain-openai==0.0.5

# LangChain関連 - 安定版のバージョンセット
langchain==0.0.350
langchain-core==0.0.13
langchain-community==0.0.10
langsmith==0.0.77

# ML/AI関連
transformers==4.31.0
tokenizers==0.13.3
huggingface_hub==0.16.4
faiss-cpu==1.7.4
sentence-transformers==2.2.2
accelerate==0.21.0
torch==2.0.1
sentencepiece==0.1.99

# その他
pydantic==1.10.14
PyYAML>=5.3
bcrypt==4.1.2
pypdf==3.17.1
protobuf==4.25.3
streamlit==1.32.2
google-auth==2.29.0

google-cloud-firestore==2.20.2
python-multipart
psycopg2-binary
google-cloud-storage
matplotlib
seaborn
PyJWT==2.10.1