line-bot-sdk
fastapi
uvicorn
python-dotenv
openai
langchain-openai
langchain
langchain-core
langchain-community
langsmith
transformers
tokenizers
huggingface_hub
faiss-cpu
sentence-transformers
accelerate
torch
sentencepiece
pydantic
PyYAML
bcrypt
pypdf
protobuf
streamlit
google-auth
google-cloud-firestore
python-multipart
psycopg2-binary
google-cloud-storage
matplotlib
seaborn
PyJWT
requests
google-cloud-secret-manager
rank-bm25
ragas
redis
mecab-python3
datasets
nest-asyncio
